setuptools~=50.3.2
requests~=2.24.0
python-dotenv~=0.15.0
discord.py==1.5.1
pre-commit==2.8.2
wikipedia~=1.4.0
urllib3~=1.25.11
pytest==6.1.2
dnspython~=2.0.0
pymongo[tls,srv]~=3.11.0
mal-api~=0.3.4
expiringdict~=1.2.1
asyncpraw~=7.1.0
dblpy==0.4.0
tmdbsimple~=2.6.6
aiohttp~=3.6.3